
.content{
    grid-area: c;
    background-color: aqua;
    margin-top: 10px;
    margin-left: 10px;
}

.item{
    color: green;
}

.item img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.contentImg{
    height: 300px;
    width: 100%;
}

.avaDisctiption{
    display: flex;
    height: 100px;
    width: 100px;
    margin-left: 30px;
}

.disctiption{
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
}
